$white: #ffffff;
$whitetwo: #F8F8FA;
$blue: #0087d0;
$yellow: #fddc00;
$black: #000;
$pink: #dd1674;


$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Open Sans', sans-serif;

$transition: .35s ease-in-out;